@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: #f2f2f2;
    color: #121212;
}

nav {
    display: block;
    position: fixed;
    padding: 20px;
}

nav a {
    display: block;
    margin: 10px;
}

nav a.active {
    font-weight: bold;
}

.aboutLinks {
    display: flex;
    gap: 10px;
}

.aboutLinks img:hover {
    cursor: pointer;
}

.aboutLinksImage {
    width: 17px;
    height: 17px;
}

.card {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 10px;
    padding: 15px;
    gap: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #e7e7e7;
    box-shadow: 7px 7px 7px #c2c2c2,
        -7px -7px 7px #fcfcfc;
    transition-duration: 0.5s;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px #c2c2c2,
        0px 0px 0px #fcfcfc;
}

.card p {
    width: 130%;
}

.card img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.cardIcons {
    width: 25px;
}

.cardIcons img {
    width: 20px;
    height: 20px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#education,
#experience {
    min-height: 50vh;
}

h1,
p {
    margin: 15px;
}


a {
    color: #121212;
    text-decoration: none;
}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    .card {
        width: 300px;
    }

    .card img {
        width: 30px;
        height: 30px;
    }

    .cardIcons img {
        width: 15px;
        height: 15px;
    }
}