@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: #f2f2f2;
    color: #121212;
}

nav {
    display: block;
    position: fixed;
    padding: 20px;
}

@media (max-width: 800px) {
    nav {
        display: none;
    }
}

nav a {
    display: block;
    margin: 10px;
}

nav a.active {
    font-weight: bold;
}

.aboutLinks {
    display: flex;
    gap: 10px;
}

.aboutLinks img:hover {
    cursor: pointer;
}

.aboutLinksImage {
    width: 17px;
    height: 17px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
p {
    margin: 5px;
}

a {
    color: #121212;
    text-decoration: none;
}