#about p {
  width: 550px;
  text-align: center;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials img {
  width: 17px;
  height: 17px;
}

.socials img:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  #about p {
    width: 320px;
  }
}
