section {
  height: 100dvh;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.top-half {
  display: flex;
  justify-content: center;
  align-items: end;

  height: 50%;
}

.bottom-half {
  display: flex;
  justify-content: center;
  align-items: start;

  height: 50%;
}

.content,
h1 {
  width: clamp(15rem, 50%, 30rem);
  text-align: left;
}

.fixed-text {
  position: fixed;
}

.hidden-text {
  opacity: 0;
}
