.project-carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-carousel-with-arrow {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.project-carousel {
  display: flex;
  align-items: center;
  width: 2rem;
  overflow-x: hidden;
}

.project-carousel-icons {
  display: flex;
  width: 100%;
  transition: 0.5s;
}

.project-carousel-icons a {
  flex: 0 0 100%;
  text-decoration: none;
}

.project-carousel-icons img {
  display: block;
  background-color: var(--text-color);
  width: 85%;
  padding: 7.5%;
  border-radius: 15%;
}

.project-languages {
  display: flex;
  gap: 0.25rem;
  height: max-content;
}

.project-languages svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text-color);
}
