:root {
  --background: #f2f2f2;
  --text: #121212;
}

.App {
  background-color: var(--background);
  color: var(--text);
  transition-duration: 1s;
}

[data-theme='dark'] {
  --background: #1b1b1b;
  --text: #f2f2f2;

  img {
    background-color: #f2f2f2;
  }

  .card {
    border-color: #2f2f2f;
    box-shadow: 7px 7px 7px #0a0a0a, -7px -7px 7px #232323;
  }

  .card:hover {
    box-shadow: 0px 0px 0px #0a0a0a, 0px 0px 0px #232323;
  }

  nav img,
  .socials img,
  .languages img {
    background: none;
    filter: invert(100%);
  }
}

h1,
p {
  margin: 15px;
}

a {
  color: inherit;
  background-color: none;
  text-decoration: none;
}

img {
  transition-duration: 1s;
}

section {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 10px;
  padding: 15px;
  gap: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #e7e7e7;
  box-shadow: 7px 7px 7px #c2c2c2, -7px -7px 7px #fcfcfc;
  transition-duration: 0.5s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px #c2c2c2, 0px 0px 0px #fcfcfc;
}

.card p {
  width: inherit;
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .card {
    width: 300px;
  }

  .card img {
    width: 30px;
    height: 30px;
  }
}
