.container {
  height: 100dvh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  transition: 1s background-color;
}

.about {
  background-color: #f2f2f2;
  color: #121212;
}

.education {
  background-color: #4b2e83;
  color: #f2f2f2;
}

.experience {
  background-color: #232f3e;
  color: #ff9900;
}

.projects {
  background-color: #f2f2f2;
  color: #121212;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

h1,
p {
  transition: 1s color;
  margin: 0;
}
