@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.about {
  background-color: #f2f2f2;
  color: #121212;
}

.education {
  background-color: #4b2e83;
  color: #f2f2f2;
}

.experience {
  background-color: #232f3e;
  color: #ff9900;
}

.projects {
  background-color: #f2f2f2;
  color: #121212;
}

h1,
p {
  transition: 1s color;
}
